.root{
    -fx-background-color: gold;
    -fx-fill-width : true;
    -fx-background-repeat: no-repeat;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-border-color: black;
    -fx-cursor: pointer;
}